
<div class="container">
	<table>
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<td><div class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Store Users</div></td>
		<td> </td>
		<td>
		  <% let paths = "/user/create" %>
		  <%= linkTo(paths) { %>
		  <button type="button" style="background-color: rgb(208, 235, 174);" class="btn btn-sm btn-outline-secondary" onclick="">Create User</button>
		  <% } %>
		</td>
		</div>
	</table>
	
	<section>
		<div class="demo-html">
			<table id="example" class="display" style="width:100%; text-align: center;">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top"></div>
				<thead>
						<tr>
							<th>Username</th>
							<th>Fullname</th>
							<th>Enabled</th>
							<th>PasswordReset</th>
							<th style="width: 20%;">Days ofLast-login</th>
						</tr>
					</thead>
					<tbody>
						<%= for (user) in newUsers { %>
						<tr>
							<td>
							  <% let paths = "user/store/" + user.Username %>
							  <%= linkTo(paths) { %>
							  <%= user.Username %>
							  <% } %>
							</td>
							<td><%= user.Fullname %></td>
							<td>
								<%= if (user.Enabled == false) { %>
									<div style="color:red"><%= user.Enabled %></div>
								<% } else { %>  
								<%= user.Enabled %>
								<% } %>
							</td>
							<td>
								<%= if (user.PwdChange == true) { %>
									<div style="color:red"><%= user.PwdChange %></div>
								<% } else { %>  
								<%= user.PwdChange %>
								<% } %>
							</td>
							<td><%= newDays[user.Username] %></td>

							</tr>
						<% } %>
					</tbody>

				</table>
			</div>
			</div>
		</div>
	</section>
