
	<div class="container">

		<table>
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<td width="20%"><div class="navbar-brand col-md-3 col-lg-2 me-0 px-3">대문자 ID 사용자</div></td>

			</div>
		</table>
		
		<section>
			<div class="demo-html">
				<table id="example" class="display" style="width:100%; text-align: center;">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top"></div>
					<thead>
						<tr>
							<th>사용자 ID</th>
							<th>REALM</th>
							<th>로그인 ID</th>
							<th>DB사용자 상태</th>
							<th style="width: 20%;">마지막 로그인</th>
						</tr>
					</thead>
					<tbody>
						<%= for (user) in newUsers { %>
						<tr>
							<td>
								<b><%= user.LoginName %></b>
							</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
						</tr>
							<%= for (nuser) in user.UsersHistory { %>
								<tr>
									<td>-</td>
									<td><%= nuser.Realm %></td>
									<td><%= nuser.LoginName %></td>
									<td><%= nuser.Enabled %></td>
									<td><%= nuser.LastLogin.Local() %></td>
								</tr>
							<% } %>
						<% } %>
					</tbody>
				</table>
			</div>
		</section>

