<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
	<title>Partner Users DataTables</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/shCore.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/demo.css">
	<style type="text/css" class="init">
	
	</style>
	<script type="text/javascript" language="javascript" src="/assets/js/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="/assets/js/jquery.dataTables.js"></script>
	<script type="text/javascript" language="javascript" src="/assets/js/shCore.js"></script>
	<script type="text/javascript" language="javascript" src="/assets/js/demo.js"></script>
	<script type="text/javascript" language="javascript" class="init">
	

$(document).ready(function() {
	$('#example').DataTable();
} );


	</script>
</head>
<body class="dt-example">
	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin">Dashboard</a>
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/user/store">STORE</a>
		<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/user/partner">PARTNER</a>
	  
		  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
		  <div class="navbar-nav">
			<div class="nav-item text-nowrap">
			  <a class="nav-link px-3" href="https://logout:logout@api.ilmovdi.com:8443/admin">Sign out</a>
			</div>
		  </div>
	</header>
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<table>
			<td><div class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Partner Users</div></td>
			<td> </td>
			<td>
			  <% let paths = "/user/create" %>
			  <%= linkTo(paths) { %>
			  <button type="button" style="background-color: rgb(208, 235, 174);" class="btn btn-sm btn-outline-secondary" onclick="">Create User</button>
			  <% } %>
			</td>
		  </table>
	</div>
		
	<div class="container">
		<section>

			<div class="demo-html">
				<table id="example" class="display" style="width:100%">
					<thead>
						<tr>
							<th>Username</th>
							<th>Fullname</th>
							<th>Enabled</th>
							<th>PasswordReset</th>
							<th>Days From Last-login</th>

						</tr>
					</thead>
					<tbody>
						<%= for (user) in newUsers { %>
						<tr>
							<td>
							  <% let paths = "user/partner/" + user.Username %>
							  <%= linkTo(paths) { %>
							  <%= user.Username %>
							  <% } %>
							</td>
							  <td><%= user.Fullname %></td>
							  <td>
								<%= if (user.Enabled == false) { %>
									<div style="color:red"><%= user.Enabled %></div>
								<% } else { %>  
								<%= user.Enabled %>
								<% } %>
							</td>
							<td>
								<%= if (user.PwdChange == true) { %>
									<div style="color:red"><%= user.PwdChange %></div>
								<% } else { %>  
								<%= user.PwdChange %>
								<% } %>
							</td>
							  <td><%= newDays[user.Username] %></td>

							</tr>
						<% } %>
					</tbody>

				</table>
			</div>
			</div>
		</div>
	</section>
</body>
</html>